.progressText {
  text-align: center;
  color: white;
}

.questionText {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 25px;
  white-space: normal;
  color: white;
}

.questionContainer {
  padding: 10px, 20px;
}

.questionImage {
  max-height: 150px;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
}

.answerItemText {
  font-size: 15px;
  color: black;
}

.answerItemTextSelectedWrong {
  color: red;
}

.answerItemContainer {
  padding: 15px 10px;
  margin-top: 10px;
  border-width: 2px;
  border-color: rgb(43, 53, 50);
  border-radius: 10px;
  background-color: white;
}

.answerItemContainerShowCorrect {
  border-width: 5px;
  padding: 12px 7px;
  border-color: limegreen;

  animation-name: correctAnswerColorAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}

@keyframes correctAnswerColorAnimation {
  0% {
    background-color: white;
  }

  100% {
    background-color: rgb(112, 241, 112);
  }
}

.resultIndicator {
  width: 20px;
  height: 20px;
}
